/*
This is how you do code comments in CSS

Again, more CSS tags/references can be found at www.w3schools.com

*/
body
{
    background-image: url("img/autumn background.jpg");
    background-repeat: repeat;
    background-size: cover;
}

#textExamples
{
    background-image: linear-gradient(blue,aquamarine);
    /*background-color: black;
    color: white;
    */
}

h1
{
    color: white;
    text-align: center;
}

p
{
    color: white;
}
